  
{{ define "main" }}

{{ partial "page-title.html" . }}

<section id="document" class="document" style="padding: 6%">
  <div class="container">
      <div class="section-heading">
        {{ with .Site.Params.documenti.title }}<h1 class="title wow fadeInDown" data-wow-delay=".3s">{{ . }}</h1>{{ end }}

        {{ with .Site.Params.documenti.content }}
        <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
          {{ . | safeHTML }}
        </p>
        {{ end }}


      </div>
    </div>

    <div class="container calendar-align">


      <table>
        {{ range $index, $element := .Site.Data.documenti.documenti }}
        {{ $delay := mul $index 300 }}
          <tr>
            <td class=column-phone>
              <img class=download-img src=../images/download.png alt=Download style="max-width: 60%;"> 
            </td>
           <td style=padding:1%>
              <a title=Iscrizione href="{{ .link }}" style=color:#000> {{ .desc }} </a>
              </td>
          </tr> 
        {{ end }}           
      </table>


</div>

  </div>    
      
</section>

{{ end }}
