  
{{ define "main" }}

{{ partial "page-title.html" . }}

<section id="document" class="document">
  <div class="container">
    
  <p>In questa sezione potrai trovare tutti i documenti necessari.</p>
  <br>


      <table>
            <tr>
              <td class="column-phone>
                <a title="Iscrizione" href="../documenti/Nuovo Modulo Iscrizioni.pdf" style="color: black">
                <img class="download-img" src="../images/download.png" alt="Download" style="max-width:75%;"></a>
              </td>
              <td style="padding: 1%;">
                <h5>Modulo da compilare per l'iscrizione</h5>
              </td>
            </tr>
            <tr>
              <td class="column-phone">
                <a title="Regolamento" href="../documenti/Regolamento Volley Albano V2.pdf" style="color: black;">
                <img class="download-img" src="../images/download.png" alt="Download"style="max-width:75%;"></a>
              </td>
              <td style="padding: 1%;">
                <h5>Regolamento Volley Albano</h5>
              </td>
            </tr>
          </table>


  </div>    
      
</section>

{{ end }}
