
{{ define "main" }}

{{ partial "page-title.html" . }}

{{ if .Site.Data.contact.enable }}
{{ "<!-- Contact Section Start -->" | safeHTML }}

<head>
  

<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  
</head>
<section id="contact-section">
  <div class="container">
    <div class="row-contact">
      <div class="col-md-6" style="max-width: 100%;">
        <div class="map-area">
          {{ with .Site.Data.contact.mapTitle }}<h2 class="subtitle  wow fadeInDown" data-wow-duration="500ms"
            data-wow-delay=".3s" style="text-align: center;">{{ . }}</h2>{{ end }}
          {{ with .Site.Data.contact.mapSubtitle }}<p class="subtitle-des wow fadeInDown" style="text-align: center;" data-wow-duration="500ms"
            data-wow-delay=".5s">{{ . }}</p>{{ end }}
          <div class="map">
            <iframe
              src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=Volley%20Albano%2C%20Via%20Don%20Giovanni%20Schiavi%2C%20Albano%20Sant%5C'Alessandro%2C%20BG+(Volley%20Albano)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
              width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="row address-details">
      <div class="col-lg-3 col-sm-6">
        <div class="address wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s" style="width: 100%;height: 90%;">
          <i class="ion-ios-location-outline"></i>
          {{ with .Site.Data.contact.officeAddress1 }}<h5 class="icon-style">{{ . }}</h5>{{ end }}
        </div>
      </div>
      
      <div class="col-lg-3 col-sm-6">
        <div class="email wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s" style="width: 100%;height: 90%;">
          <i class="ion-ios-email-outline"></i>
          <br>
          <br>
          <p class="icon-style">{{ with .Site.Data.contact.mail1 }}{{ . }}{{ end }}
            <br>{{ with .Site.Data.contact.mail2 }}{{ . }}{{ end }}</p>
        </div>
      </div>
      

      <div class="col-lg-3 col-sm-6">  
        <div class="phone wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s" style="width: 100%;height: 90%; padding-top: 16%;">
          <span class="iconify" data-icon="ph:instagram-logo-light" data-inline="false" style="color: #28629e; width: 48px; height: 38px;"></span>
          <br>
          <br>
          <a  class="icon-style" href="{{.Site.Data.contact.instagram | absURL}}">Volley Albano</a>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="phone wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s" style="width: 100%;padding-top: 15%;height: 90%">
          <span class="iconify" data-icon="ri:facebook-line" data-inline="false" style="color: #28629e;width: 48px;  height: 38px;"></span>
          <br>
          <br>
          <a  class="icon-style" href="{{.Site.Data.contact.facebook | absURL}}">Volley Albano</a>
        </div>
      </div>

      </div>
    </div>
  </div>
</section>
{{ "<!-- Contact Section End -->" | safeHTML }}
{{ end }}

{{ end }}