{{ define "main" }}

{{ partial "banner.html" . }}

<div class="container">
	
	<div class="img-wrapper">
		<img src="images/palio1.jpeg" style="padding-left: 20%;padding-right: 20%;" class="img-fluid" alt="palio 1">

	</div> 
	
	<div class="img-wrapper">
		<img src="images/palio2.jpeg" style="padding-left: 20%;padding-right: 20%;" class="img-fluid" alt="palio 2">

	</div> 
	
	<div class="img-wrapper">
		<img src="images/5x1000.jpg" style="" class="img-fluid" alt="News Volley Albano">

	</div> 
</div>



{{ end }}
